################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arena42/Arena42/bin
/Arena42/Arena42/obj/Debug
/Arena42/packages
Arena42/.vs/Arena42/v15/Server/sqlite3/db.lock
/Arena42/.vs/Arena42/v15/.suo
/Arena42/AWSLambda1/obj
Arena42/WebApplication1/packages.config
Arena42/WebApplication1/obj/Debug/WebApplication1.pdb
Arena42/WebApplication1/obj/Debug/WebApplication1.dll
Arena42/WebApplication1/obj/Debug/WebApplication1.csprojAssemblyReference.cache
Arena42/WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
Arena42/WebApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Arena42/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Arena42/WebApplication1/fonts/glyphicons-halflings-regular.woff2
Arena42/WebApplication1/fonts/glyphicons-halflings-regular.woff
Arena42/WebApplication1/fonts/glyphicons-halflings-regular.ttf
Arena42/WebApplication1/fonts/glyphicons-halflings-regular.svg
Arena42/WebApplication1/fonts/glyphicons-halflings-regular.eot
Arena42/WebApplication1/favicon.ico
Arena42/WebApplication1/bin/roslyn/vbc.rsp
Arena42/WebApplication1/bin/roslyn/vbc.exe.config
Arena42/WebApplication1/bin/roslyn/vbc.exe
Arena42/WebApplication1/bin/roslyn/csi.rsp
Arena42/WebApplication1/bin/roslyn/csi.exe.config
Arena42/WebApplication1/bin/roslyn/csi.exe
Arena42/WebApplication1/bin/roslyn/csc.rsp
Arena42/WebApplication1/bin/roslyn/csc.exe.config
Arena42/WebApplication1/bin/roslyn/System.Reflection.Metadata.dll
Arena42/WebApplication1/bin/roslyn/System.IO.Pipes.dll
Arena42/WebApplication1/bin/roslyn/System.IO.Pipes.AccessControl.dll
Arena42/WebApplication1/bin/roslyn/System.IO.FileSystem.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CSharp.Core.targets
Arena42/WebApplication1/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Arena42/WebApplication1/bin/WebGrease.dll
Arena42/WebApplication1/bin/WebApplication1.pdb
Arena42/WebApplication1/bin/WebApplication1.dll.config
Arena42/WebApplication1/bin/WebApplication1.dll
Arena42/WebApplication1/bin/System.Web.WebPages.xml
Arena42/WebApplication1/bin/System.Web.WebPages.dll
Arena42/WebApplication1/bin/System.Web.WebPages.Razor.xml
Arena42/WebApplication1/bin/System.Web.WebPages.Razor.dll
Arena42/WebApplication1/bin/System.Web.WebPages.Deployment.xml
Arena42/WebApplication1/bin/System.Web.WebPages.Deployment.dll
Arena42/WebApplication1/bin/System.Web.Razor.xml
Arena42/WebApplication1/bin/System.Web.Razor.dll
Arena42/WebApplication1/bin/System.Web.Optimization.xml
Arena42/WebApplication1/bin/System.Web.Optimization.dll
Arena42/WebApplication1/bin/System.Web.Mvc.xml
Arena42/WebApplication1/bin/System.Web.Mvc.dll
Arena42/WebApplication1/bin/System.Web.Http.xml
Arena42/WebApplication1/bin/System.Web.Http.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Twitter.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Twitter.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.OAuth.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.OAuth.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Google.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Google.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Facebook.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Facebook.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Cookies.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Security.Cookies.dll
Arena42/WebApplication1/bin/Microsoft.Owin.Host.SystemWeb.xml
Arena42/WebApplication1/bin/Microsoft.Owin.Host.SystemWeb.dll
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.Owin.xml
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.Owin.dll
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.Core.xml
Arena42/WebApplication1/bin/Microsoft.AspNet.Identity.Core.dll
Arena42/WebApplication1/bin/Microsoft.ApplicationInsights.dll
Arena42/WebApplication1/bin/Microsoft.AI.WindowsServer.xml
Arena42/WebApplication1/bin/Microsoft.AI.WindowsServer.dll
Arena42/WebApplication1/bin/Microsoft.AI.Web.xml
Arena42/WebApplication1/bin/Microsoft.AI.Web.dll
Arena42/WebApplication1/bin/Microsoft.AI.ServerTelemetryChannel.dll
Arena42/WebApplication1/bin/Microsoft.AI.PerfCounterCollector.dll
Arena42/WebApplication1/bin/Microsoft.AI.DependencyCollector.xml
Arena42/WebApplication1/bin/Microsoft.AI.DependencyCollector.dll
Arena42/WebApplication1/bin/Microsoft.AI.Agent.Intercept.dll
Arena42/WebApplication1/bin/EntityFramework.xml
Arena42/WebApplication1/bin/EntityFramework.dll
Arena42/WebApplication1/bin/EntityFramework.SqlServer.xml
Arena42/WebApplication1/bin/EntityFramework.SqlServer.dll
Arena42/WebApplication1/bin/ApplicationInsights.config
Arena42/WebApplication1/bin/Antlr3.Runtime.pdb
Arena42/WebApplication1/bin/Antlr3.Runtime.dll
Arena42/WebApplication1/WebApplication1.csproj.user
Arena42/WebApplication1/WebApplication1.csproj
Arena42/WebApplication1/Web.config
Arena42/WebApplication1/Web.Release.config
Arena42/WebApplication1/Web.Debug.config
Arena42/WebApplication1/Views/_ViewStart.cshtml
Arena42/WebApplication1/Views/Web.config
Arena42/WebApplication1/Views/Shared/_Layout.cshtml
Arena42/WebApplication1/Views/Shared/Error.cshtml
Arena42/WebApplication1/Views/Home/Index.cshtml
Arena42/WebApplication1/Startup.cs
Arena42/WebApplication1/Scripts/modernizr-2.8.3.js
Arena42/WebApplication1/Scripts/jquery.validate.unobtrusive.min.js
Arena42/WebApplication1/Scripts/jquery.validate.unobtrusive.js
Arena42/WebApplication1/Scripts/jquery.validate.min.js
Arena42/WebApplication1/Scripts/jquery.validate.js
Arena42/WebApplication1/Scripts/jquery.validate-vsdoc.js
Arena42/WebApplication1/Scripts/jquery-3.3.1.slim.min.map
Arena42/WebApplication1/Scripts/jquery-3.3.1.slim.min.js
Arena42/WebApplication1/Scripts/jquery-3.3.1.slim.js
Arena42/WebApplication1/Scripts/jquery-3.3.1.min.map
Arena42/WebApplication1/Scripts/jquery-3.3.1.min.js
Arena42/WebApplication1/Scripts/jquery-3.3.1.js
Arena42/WebApplication1/Scripts/jquery-3.3.1.intellisense.js
Arena42/WebApplication1/Scripts/bootstrap.min.js
Arena42/WebApplication1/Scripts/bootstrap.js
Arena42/WebApplication1/Results/ChallengeResult.cs
Arena42/WebApplication1/Providers/ApplicationOAuthProvider.cs
Arena42/WebApplication1/Properties/AssemblyInfo.cs
Arena42/WebApplication1/Models/IdentityModels.cs
Arena42/WebApplication1/Models/AccountViewModels.cs
Arena42/WebApplication1/Models/AccountBindingModels.cs
Arena42/WebApplication1/Global.asax.cs
Arena42/WebApplication1/Global.asax
Arena42/WebApplication1/Controllers/ValuesController.cs
Arena42/WebApplication1/Controllers/HomeController.cs
Arena42/WebApplication1/Controllers/AccountController.cs
Arena42/WebApplication1/Content/bootstrap.min.css.map
Arena42/WebApplication1/Content/bootstrap.min.css
Arena42/WebApplication1/Content/bootstrap.css.map
Arena42/WebApplication1/Content/bootstrap.css
Arena42/WebApplication1/Content/bootstrap-theme.min.css.map
Arena42/WebApplication1/Content/bootstrap-theme.min.css
Arena42/WebApplication1/Content/bootstrap-theme.css.map
Arena42/WebApplication1/Content/bootstrap-theme.css
Arena42/WebApplication1/Content/Site.css
Arena42/WebApplication1/Areas/HelpPage/XmlDocumentationProvider.cs
Arena42/WebApplication1/Areas/HelpPage/Views/_ViewStart.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Web.config
Arena42/WebApplication1/Areas/HelpPage/Views/Shared/_Layout.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/ResourceModel.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/Index.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml
Arena42/WebApplication1/Areas/HelpPage/Views/Help/Api.cshtml
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/TextSample.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/SampleDirection.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/InvalidSample.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/ImageSample.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs
Arena42/WebApplication1/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs
Arena42/WebApplication1/Areas/HelpPage/Models/HelpPageApiModel.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs
Arena42/WebApplication1/Areas/HelpPage/HelpPageConfigurationExtensions.cs
Arena42/WebApplication1/Areas/HelpPage/HelpPageAreaRegistration.cs
Arena42/WebApplication1/Areas/HelpPage/HelpPage.css
Arena42/WebApplication1/Areas/HelpPage/Controllers/HelpController.cs
Arena42/WebApplication1/Areas/HelpPage/App_Start/HelpPageConfig.cs
Arena42/WebApplication1/Areas/HelpPage/ApiDescriptionExtensions.cs
Arena42/WebApplication1/ApplicationInsights.config
Arena42/WebApplication1/App_Start/WebApiConfig.cs
Arena42/WebApplication1/App_Start/Startup.Auth.cs
Arena42/WebApplication1/App_Start/RouteConfig.cs
Arena42/WebApplication1/App_Start/IdentityConfig.cs
Arena42/WebApplication1/App_Start/FilterConfig.cs
Arena42/WebApplication1/App_Start/BundleConfig.cs
Arena42/AWSLambda2/obj/project.assets.json
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.pdb
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.dll
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.csprojAssemblyReference.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.csproj.FileListAbsolute.txt
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.csproj.CoreCompileInputs.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.assets.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.AssemblyInfoInputs.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.AssemblyInfo.cs
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Arena42/WebApplication1/obj/Debug/WebApplication1.csproj.CoreCompileInputs.cache
Arena42/WebApplication1/obj/Debug/WebApplication1.csproj.CopyComplete
Arena42/WebApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Arena42/WebApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Arena42/WebApplication1/bin/roslyn/csc.exe
Arena42/WebApplication1/bin/roslyn/VBCSCompiler.exe.config
Arena42/WebApplication1/bin/roslyn/VBCSCompiler.exe
Arena42/WebApplication1/bin/roslyn/System.Xml.XmlDocument.dll
Arena42/WebApplication1/bin/roslyn/System.Xml.XPath.dll
Arena42/WebApplication1/bin/roslyn/System.Xml.XPath.XDocument.dll
Arena42/WebApplication1/bin/roslyn/System.Xml.ReaderWriter.dll
Arena42/WebApplication1/bin/roslyn/System.ValueTuple.dll
Arena42/WebApplication1/bin/roslyn/System.Text.Encoding.CodePages.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Principal.Windows.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Cryptography.Primitives.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Cryptography.Encoding.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Arena42/WebApplication1/bin/roslyn/System.Security.Claims.dll
Arena42/WebApplication1/bin/roslyn/System.Security.AccessControl.dll
Arena42/WebApplication1/bin/roslyn/System.IO.FileSystem.Primitives.dll
Arena42/WebApplication1/bin/roslyn/System.IO.Compression.dll
Arena42/WebApplication1/bin/roslyn/System.Diagnostics.StackTrace.dll
Arena42/WebApplication1/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Arena42/WebApplication1/bin/roslyn/System.Console.dll
Arena42/WebApplication1/bin/roslyn/System.Collections.Immutable.dll
Arena42/WebApplication1/bin/roslyn/System.AppContext.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.VisualBasic.Core.targets
Arena42/WebApplication1/bin/roslyn/Microsoft.Managed.Core.targets
Arena42/WebApplication1/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CodeAnalysis.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Arena42/WebApplication1/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Arena42/WebApplication1/bin/System.Web.Http.WebHost.xml
Arena42/WebApplication1/bin/System.Web.Http.WebHost.dll
Arena42/WebApplication1/bin/System.Web.Http.Owin.xml
Arena42/WebApplication1/bin/System.Web.Http.Owin.dll
Arena42/WebApplication1/bin/System.Web.Helpers.xml
Arena42/WebApplication1/bin/System.Web.Helpers.dll
Arena42/WebApplication1/bin/System.Net.Http.Formatting.xml
Arena42/WebApplication1/bin/System.Net.Http.Formatting.dll
Arena42/WebApplication1/bin/System.Diagnostics.DiagnosticSource.xml
Arena42/WebApplication1/bin/System.Diagnostics.DiagnosticSource.dll
Arena42/WebApplication1/bin/Owin.dll
Arena42/WebApplication1/bin/Newtonsoft.Json.xml
Arena42/WebApplication1/bin/Newtonsoft.Json.dll
Arena42/WebApplication1/bin/Microsoft.Web.Infrastructure.dll
Arena42/WebApplication1/bin/Microsoft.Owin.xml
Arena42/WebApplication1/bin/Microsoft.Owin.dll
Arena42/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Arena42/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Arena42/WebApplication1/bin/Microsoft.AspNet.TelemetryCorrelation.xml
Arena42/WebApplication1/bin/Microsoft.AspNet.TelemetryCorrelation.dll
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.pdb
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.dll
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.csprojAssemblyReference.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.csproj.FileListAbsolute.txt
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.csproj.CoreCompileInputs.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.assets.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.AssemblyInfoInputs.cache
Arena42/AWSLambda2/obj/Debug/netcoreapp2.1/AWSLambda2.AssemblyInfo.cs
Arena42/AWSLambda2/obj/AWSLambda2.csproj.nuget.g.targets
Arena42/AWSLambda2/obj/AWSLambda2.csproj.nuget.g.props
Arena42/AWSLambda2/obj/AWSLambda2.csproj.nuget.cache
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.runtimeconfig.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.runtimeconfig.dev.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.pdb
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/rhel.7.2-x64/AWSLambda2.deps.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/Newtonsoft.Json.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.Serialization.Json.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.SQSEvents.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/Amazon.Lambda.Core.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/AWSLambda2.runtimeconfig.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/AWSLambda2.pdb
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/AWSLambda2.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/publish/AWSLambda2.deps.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.zip
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.runtimeconfig.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.runtimeconfig.dev.json
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.pdb
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.dll
Arena42/AWSLambda2/bin/Debug/netcoreapp2.1/AWSLambda2.deps.json
