@model ThermoBet.MVC.Models.SelectionViewModel

<input type="hidden" asp-for="Id" />
        <div class="col">
          <div class="card mb-3">
  <h5 class="card-header">
        <input asp-for="Name" class="form-control">
</button>
        <span asp-validation-for="Name" class="text text-danger"></span>
        
  </h5>
  <div class="card-body">
        <input asp-for="Odds" class="form-control">
        <span asp-validation-for="Odds" class="text text-danger"></span>
  </div>
</div>

        </div>
