@model ThermoBet.MVC.Models.TournamentViewModel

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label for="inputName">Name</label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text text-danger"></span>
</div>
<div class="form-group">
    <label for="inputName">Code</label>
    <input asp-for="Code" class="form-control">
    <span asp-validation-for="Code" class="text text-danger"></span>
</div>
<div class="form-group">
    <label for="inputName">Description</label>
    <input asp-for="Description" class="form-control">
    <span asp-validation-for="Description" class="text text-danger"></span>
</div>
<div class="form-group">
    <label for="inputName">Debut</label>
    <input asp-for="StartTimeUtc" class="form-control">
    <span asp-validation-for="StartTimeUtc" class="text text-danger"></span>
</div>
<div class="form-group">
    <label for="inputName">Fin</label>
    <input asp-for="EndTimeUtc" class="form-control">
    <span asp-validation-for="EndTimeUtc" class="text text-danger"></span>
</div>