@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stats coming soon</h1>
    <p>Ici sera present des stats generaux sur l'utilisation de l'application.</p>
</div>
